@font-face{
    font-family: "urbanist black";
    src: url("../fonts/urbanist/Urbanist-Black.ttf")
}
@font-face{
    font-family: "urbanist light";
    src: url("../fonts/urbanist/Urbanist-Light.ttf")
}

*{
    font-family: "urbanist light";
}

h1{
    font-family: "urbanist black";
    width: 30%;
    text-align: center;

    margin: 50px auto;
}

main>section{
    width: 20%;
    margin: 0 auto;
    display: flex;

    justify-content: space-around;
}
main>section h2{
    color: black;
}
main>section a{
    text-decoration: none;
}

/* ---------------------------------- table --------------------------------- */
table{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    
    border-collapse: collapse;
}
th{
    border: 1px solid black;
    width: 25%;
}
td{
    border: 1px solid black;
}
table img{
    width: 100%;
    height: 100px;
    object-fit: cover;
}

main>a{
    margin-left: 20%;
    margin-bottom: 20px;
}


/* --------------------------------- create --------------------------------- */
#create h1{
    margin: 100px auto;
}
#create form{
    width: 40%;
    margin: 0 auto;
}
#create form h3{
    color: green;
    font-weight: 900;
}
#create form input[type="file"]{
    margin-top: 30px;
    margin-bottom: 30px;
}
#create form button{
    float: right;
}